<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Регистрация</title>
    {% load static %}
    <link href="{% static 'style.css' %}?version=2" rel="stylesheet">
    <link href="{% static 'button.css' %}?version=2" rel="stylesheet">
    <script src="{% static 'script.js' %}?version=2"></script>
</head>
<body>
    <h3>Введите данные о пользователе:</h3>
    <form method="post" name="SignUp" action="signup_success/">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" class="signup-button add-element" value="Зарегистрироваться">
        <div class="back-button" onclick="toMain()">Назад</div>
    </form>
</body>
</html>