.add-element{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 2px solid #49BBC3;
    color: #49BBC3;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    width: 240px;
    transition: .5s;
    margin-bottom: 30px;
}

.add-element:hover{
    cursor: pointer;
    background-color: #49BBC3;
    color: #FFF;
}


.back-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #BBBBBB;
    background-color: #DDDDDD;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    width: 100px;
    transition: .5s;
    cursor: pointer;
}

